# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
logs
*.iml
.DS_Store

# eclipse ignore
.settings/
.project
.classpath

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz