<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.uzykj.mall.dao.ProductImageMapper">
    <resultMap id="imageMap" type="productImage">
        <id property="productImage_id" column="productimage_id"/>
        <result property="productImage_type" column="productimage_type"/>
        <result property="productImage_src" column="productimage_src"/>
        <association property="productImage_product" javaType="com.uzykj.mall.entity.Product">
            <id property="product_id" column="productimage_product_id"/>
        </association>
    </resultMap>

    <insert id="insertOne" parameterType="productImage">
        INSERT productimage (productimage_id,productimage_type,productimage_src,productimage_product_id)
        VALUES (
        null,
        #{productImage.productImage_type},
        #{productImage.productImage_src},
        #{productImage.productImage_product.product_id})
    </insert>

    <insert id="insertList" parameterType="list">
        INSERT productimage (productimage_id,productimage_type,productimage_src,productimage_product_id)
        VALUES
        <foreach collection="productImage_list" item="productImage" index="index" separator=",">
            (null,
            #{productImage.productImage_type},
            #{productImage.productImage_src},
            #{productImage.productImage_product.product_id})
        </foreach>
    </insert>

    <update id="updateOne" parameterType="productImage">
        UPDATE productimage
        <set>
            <if test="productImage.productImage_type != null">productimage_type = #{productImage.productImage_type},
            </if>
            <if test="productImage.productImage_src != null">productimage_src = #{productImage.productImage_src}</if>
        </set>
        <where>
            productimage_id = #{productImage.productImage_id}
        </where>
    </update>

    <delete id="delete" parameterType="java.util.ArrayList">
        DELETE FROM productimage
        <where>
            <if test="productImage_id_list != null">
                productimage_id IN
                <foreach collection="productImage_id_list" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>

    <select id="select" resultMap="imageMap">
        SELECT productimage_id,productimage_type,productimage_src,productimage_product_id FROM productimage
        <where>
            <if test="product_id != null">
                productimage_product_id = #{product_id}
            </if>
        </where>
        <if test="pageUtil != null">
            LIMIT #{pageUtil.pageStart},#{pageUtil.count}
        </if>
    </select>
    <select id="selectOne" resultMap="imageMap" parameterType="int">
        SELECT productimage_id,productimage_type,productimage_src,productimage_product_id FROM productimage
        <where>
            productimage_id = #{productImage_id}
        </where>
    </select>
    <select id="selectTotal" resultType="int">
        SELECT COUNT(productimage_id) FROM productimage
        <where>
            <if test="product_id != null">
                productimage_product_id = #{product_id}
            </if>
            <if test="productImage_type != null">
                and productimage_type = #{productImage_type}
            </if>
        </where>
    </select>
</mapper>