<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.uzykj.mall.dao.PropertyValueMapper">
    <resultMap id="propertyValueMap" type="propertyValue">
        <id property="propertyValue_id" column="propertyvalue_id"/>
        <result property="propertyValue_value" column="propertyvalue_value"/>
        <association property="propertyValue_property" javaType="com.uzykj.mall.entity.Property">
            <id property="property_id" column="propertyvalue_property_id"/>
        </association>
        <association property="propertyValue_product" javaType="com.uzykj.mall.entity.Product">
            <id property="product_id" column="propertyvalue_product_id"/>
        </association>
    </resultMap>

    <insert id="insertOne" parameterType="propertyValue">
        INSERT propertyvalue(propertyvalue_id,propertyvalue_value,propertyvalue_property_id,propertyvalue_product_id)
        VALUES (
        null,
        #{propertyValue.propertyValue_value},
        #{propertyValue.propertyValue_property.property_id},
        #{propertyValue.propertyValue_product.product_id})
    </insert>
    <insert id="insertList" parameterType="list">
        INSERT propertyvalue(propertyvalue_id,propertyvalue_value,propertyvalue_property_id,propertyvalue_product_id)
        VALUES
        <foreach collection="propertyValue_list" index="index" item="propertyValue" separator=",">
            (null,
            #{propertyValue.propertyValue_value},
            #{propertyValue.propertyValue_property.property_id},
            #{propertyValue.propertyValue_product.product_id})
        </foreach>
    </insert>
    <update id="updateOne" parameterType="propertyValue">
        UPDATE propertyvalue
        <set>
            <if test="propertyValue.propertyValue_value != null">propertyvalue_value =
                #{propertyValue.propertyValue_value}
            </if>
        </set>
        <where>
            propertyvalue_id = #{propertyValue.propertyValue_id}
        </where>
    </update>

    <delete id="delete" parameterType="java.util.ArrayList">
        DELETE FROM propertyvalue
        <where>
            <if test="propertyValue_id_list != null">
                propertyvalue_id IN
                <foreach collection="propertyValue_id_list" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>

    <select id="select" resultMap="propertyValueMap">
        SELECT propertyvalue_id,propertyvalue_value,propertyvalue_property_id,propertyvalue_product_id FROM
        propertyvalue
        <if test="propertyValue != null">
            <where>
                <if test="propertyValue.propertyValue_value">propertyvalue_value =
                    #{propertyValue.propertyValue_value}
                </if>
                <if test="propertyValue.propertyValue_property != null">
                    <if test="propertyValue.propertyValue_property.property_id">propertyvalue_property_id =
                        #{propertyValue.propertyValue_property.property_id}
                    </if>
                </if>
                <if test="propertyValue.propertyValue_product != null">
                    <if test="propertyValue.propertyValue_product.product_id">propertyvalue_product_id =
                        #{propertyValue.propertyValue_product.product_id}
                    </if>
                </if>
            </where>
        </if>
    </select>

    <select id="selectByProduct" resultMap="propertyValueMap">
        SELECT propertyvalue_id,propertyvalue_value,propertyvalue_property_id,propertyvalue_product_id FROM
        propertyvalue
        <where>
            <if test="product_id != null">
                propertyvalue_product_id = #{product_id}
            </if>
        </where>
        <if test="pageUtil != null">
            LIMIT #{pageUtil.pageStart},#{pageUtil.count}
        </if>
    </select>

    <select id="selectOne" resultMap="propertyValueMap" parameterType="int">
        SELECT propertyvalue_id,propertyvalue_value,propertyvalue_property_id,propertyvalue_product_id FROM
        propertyvalue
        <where>
            propertyvalue_id = #{propertyValue_id}
        </where>
    </select>
    <select id="selectTotal" resultType="int" parameterType="propertyValue">
        SELECT COUNT(propertyvalue_id) FROM propertyvalue
        <if test="propertyValue != null">
            <where>
                <if test="propertyValue.propertyValue_value">propertyvalue_value =
                    #{propertyValue.propertyValue_value}
                </if>
                <if test="propertyValue.propertyValue_property != null">
                    <if test="propertyValue.propertyValue_property.property_id">propertyvalue_property_id =
                        #{propertyValue.propertyValue_property.property_id}
                    </if>
                </if>
                <if test="propertyValue.propertyValue_product != null">
                    <if test="propertyValue.propertyValue_product.product_id">propertyvalue_product_id =
                        #{propertyValue.propertyValue_product.product_id}
                    </if>
                </if>
            </where>
        </if>
    </select>
</mapper>